# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
APP_PORT=4000
APP_ENV=development
APP_HOST=http://localhost:${APP_PORT}
FRONTEND_URL=http://localhost:3000

# Postgres config
DB_TYPE=mysql
DB_NAME=nestjs
DB_PASSWORD=some_secure_password
DB_HOST=localhost
DB_PORT=3306
DB_USER=root

# TypeOrm autoload entities
# 1 - true, 0 - fasle
DB_AUTOLOADENTITIES=1

# mail
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=

