<p>
  You are receiving this because you (or someone else) requested the reset of the
  <span style="font-weight: bold">{{ name }}</span> user account.
</p>

<p>
  Please click on the following link, or paste this into your browser to complete the process:
</p>

<p><a href="{{link}}">{{link}}</a></p>

<p>
  If you received this in error, you can safely ignore it.
</p>

<p>
  Thanks.
</p>
